@mixin multiple-colored-gradient($args) {

	$gradient: ();
	$pos: nth($args, 1);
	$pos_newsyntax: ();

	@if ($pos != 'top')
		and ($pos != 'right')
		and ($pos != 'bottom')
		and ($pos != 'left')
		and ($pos != 'to top') 
		and ($pos != 'to right')
		and ($pos != 'to bottom') 
		and ($pos != 'to left') {
			$pos: 'top';
	}

	// New Syntax
	@if $pos == 'top' {
		$pos_newsyntax: 'to bottom';
	} @else if $pos == 'right' {
		$pos_newsyntax: 'to left';
	} @else if $pos == 'bottom' {
		$pos_newsyntax: 'to top';
	} @else if $pos == 'left' {
		$pos_newsyntax: 'to right';
	}

	@each $g in $args {
		@if ($g != 'top') 
			and ($g != 'right') 
			and ($g != 'bottom') 
			and ($g != 'left') 
			and ($g != 'to top') 
			and ($g != 'to right') 
			and ($g != 'to bottom') 
			and ($g != 'to left') {
				$gradient: append($gradient, $g, comma);
		}
	}

	background-image: -webkit-linear-gradient(unquote($pos), $gradient);
	background-image: 	 -moz-linear-gradient(unquote($pos), $gradient);
	background-image: 		-ms-linear-gradient(unquote($pos), $gradient);
	background-image: 		 -o-linear-gradient(unquote($pos), $gradient);
	background-image: 				unquote('linear-gradient(#{$pos_newsyntax}, #{$gradient})');
}






