/**
 * @description
 * Generates keyframe animations
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/#feat=css-animation
 * @link spec http://www.w3.org/TR/css3-animations/
 *
 * @param values
 * @returns
 *   -webkit-animation: <values>;
 *           animation: <values>;
 *
 * @example
 *   .selector {
 *     @include x-animation(jump 1s ease-out);
 *   }
 */

@mixin x-animation ($values) {
	-webkit-animation: $values;
	        animation: $values;
}

/*
 * @example
 *    @include x-keyframes(jump) {
 *      from { top: 0; }
 *      to { top: -10px; }
 *   }
 */
@mixin x-keyframes ($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}
