/**
 * @description
 * Generates cross-browser-compatible `transition` output for a given element.
 *
 * @author drublic
 *
 * @link caniuse http://caniuse.com/css-transitions
 * @link spec
 *
 * @param values
 * @returns
 *   -webkit-transition: <values>;
 *           transition: <values>;
 *
 * @example
 *   .selector {
 *     @include x-transition(background 0.3s ease-in);
 *   }
 */
@mixin x-transition($property: all, $duration: 1s, $easing: ease, $delay: 0s) {
  @if($property == transform){
    -webkit-transition: -webkit-#{$property} $duration $easing $delay;
            transition: $property $duration $easing $delay;
  } @else{
    -webkit-transition: $property $duration $easing $delay;
            transition: $property $duration $easing $delay;
  }
}
