// Generates transitions on a given element
// Documentation: docs/transition.md
@mixin x-transition ($values) {
	-webkit-transition: $values;
	     -o-transition: $values;
	        transition: $values;
}

// @include x-transition(background 0.3s ease-in);
