// Generates transforms for a given element
// Documentation: docs/transition.md

@mixin x-transform ($values) {
	-webkit-transform: $values; // Chrome, Safari, iOS Safari, Android Stock
	     -o-transform: $values; // Opera 12
	    -ms-transform: $values; // IE9
	        transform: $values;
}

// @include x-transform(rotate(1deg));
